<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--tail wind css-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d5ded2b5f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style4.css">
    
    
    <title>ProjectManager</title>

  </head>
  <body>
       <!-- role="button" in a blacktie image -->
    
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
                <div class="container-fluid">
                    <a class="navbar-brand text-capitalize" >
                        <i class="fab fa-black-tie width-auto"></i>
                        &nbsp;ProjectManager
                    </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">  </ul>
                                <a href="/">
                                <button class="btn btn-outline-success text-capitalize" type="submit" >sign out</button></a>&nbsp;&nbsp;  
                                <!-- <a role="button"><i class="fas fa-user px-3"></i></a> -->
                      </div>
                </div>
              </nav>
        </header>




          
          <div class="d-flex align-item-center ">
                <div class="nav flex-column  nav-pills me-3 shadow vh-100 p-5 rounded" id="v-pills-tab" role="tablist">
                  <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
                  <button class="nav-link" id="v-pills-project-tab" data-bs-toggle="pill" data-bs-target="#v-pills-project" type="button" role="tab" aria-controls="v-pills-project" aria-selected="false">Projects</button>
                  <button class="nav-link" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard" aria-selected="false">Dashboard</button>
                </div>
              
                <!--DOM content displayed-->
                <div class="tab-content p-3" id="v-pills-tabContent">
                  <div class="row"></div>
                  <div class="home tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="col p-3">
                        
                          <header >
                            <h1>Project Details</h1>
                          </header>
                      
                            <form class="p-3" action="/secondpage" method="post">
                                    <div class="form-group">
                                      <label for="project_name">Project Name</label>
                                      <input type="text" id="project_name" class="form-control" name="projectname">
                                    </div>
              
                                    <div class="form-group">
                                      <label for="project_desc">Project Description</label>
                                      <textarea class="form-control" id="project_desc" rows="5" name="desc"></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="team_size">Team Size</label>
                                        <select id="team_size" class="form-control">
                                            <option disabled=true selected>Select One</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <!--FOR MEMBERS-->
                                  <div class="members">
                                    <div class="form-group">
                                      <label for ="team_mem1">Members</label>
                                      <input type="text" id="team_mem1" class="form-control" name="memname1">
                                    </div>
                                    <div class="form-group">
                                      <label for ="team_mem2">Members</label>
                                      <input type="text" id="team_mem2" class="form-control" name="memname2">
                                    </div>
                                    <div class="form-group">
                                      <label for ="team_mem3">Members</label>
                                      <input type="text" id="team_mem3" class="form-control" name="memname3">
                                    </div>
                                    <div class="form-group">
                                      <label for ="team_mem4">Members</label>
                                      <input type="text" id="team_mem4" class="form-control" name="memname4">
                                    </div>
                                  </div>
                                  <button class="p-2 mx-5 btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#confirm">Save Changes</button>
                              </form> <!-- form ends here -->
                      {{!-- <footer>
                        <button class="p-2 mx-5 btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#confirm">Save Changes</button>
                      </footer> --}}
                   </div>
                  </div> <!--HOME DOM ENDS HERE-->
                


              <div class="tab-pane fade" id="v-pills-project" role="tabpanel" aria-labelledby="v-pills-project-tab">

                  <div class="project-content p-3">
                      <h3 class="">Projects</h3>
                      <hr>
                      
                      <div class="me-3">                  
                       <form action="/fileupload" enctype="multipart-form-data" method="POST">
                        <input type="file" name="myFile">
                        <button type="submit" >Add Files&nbsp;</button> 
                        </form>
                      </div>
                    </div>
                </div><!--profile DOM ENDS HERE-->
                  <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
                    <div class="A-content p-3">
                      <h1>Dashboard  </h1>                    
                    </div>
                      <table class="table table-bordered border-primary m-5 p-3 text-center">
                        <thead>
                            <tr>
                              <th scope="col">Project Title</th>
                              <th colspan="4">Members</th>
                              <th scope="col">MemberCount</th>
                              <th scope="col">FileName</th>
                              <th scope="col">status</th>
                            </tr>
                            <tr>
                              <td>Project Manager</td>
                              <td>Anup Verma</td>
                              <td>Shruti Nigam</td>
                              <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                              <td>&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                              <td>2</td> 
                              <td>abc.pdf</td>
                              <td>Submitted
                                <i class="fas fa-check-circle icon-green"></i>
                              </td>
                            </tr>

                            <tr>
                              <td>IPU-CET Result Calculator</td>
                              <td>Anup Verma</td>
                              <td>Shruti Nigam</td>
                              <td>Divyansha Saini</td>
                              <td>Mayank Makhija</td>
                              <td>4</td> 
                              <td>steps for wheebox.pdf</td>
                              <td>Submitted
                                <i class="fas fa-check-circle icon-green"></i>
                              </td>
                            </tr>
                          </thead>
                      </table>
                  </div><!--dashboard DOM ENDS HERE-->
            </div><!--DOM ENDS HERE-->

      </div> <!--main DOM ENDS HERE-->



    <!-- MODAL STUFF -->

<div class="modal fade" id="confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmLabel">Are you sure you want to submit ? </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        By clicking "understood" you agree that you're giving the right data and  the information provided by you is 
        true  
      </div>
      <div class="modal-footer">

        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>

    <script src="index.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {return new bootstrap.Tooltip(tooltipTriggerEl)})
    </script>  
    <script src="javascript/index.js"></script>
 
  </body>
</html>